html,body,.container {
    height: 100%;
    width: 100%;
   }
   .container {
    display: table; 
   }
   .row
   {
    height: 100%;
    width: 100%;
    display: table-row;
   }
   .vertical-center
   {
    display: table-cell;
    float: none;
    vertical-align: middle;
   }
   img{
       margin-top: 70px;
       width: 100%;
   }
   #btnController {
    
    margin-top: 30px;
    position: static;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
   }

   