.navbar{
    background-color: yellow;
}
img{
    border-radius: 20px;
    
}
.cover-photo{
    border-radius: 20px 20px 0px 0px;
}
.cover-photo-nofilter{
    border-radius: 20px 20px 20px 20px;
}
.cover-card{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .cover-photo:hover{
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
} */
.cover-card:hover{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.card-body-hover-manga1:hover{
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(91, 187, 235);
}
.card-body-hover-manga2:hover{
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(187, 65, 125);
}
.card-body-hover-manga3:hover{
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(253, 248, 54);
}
.card-body-hover-manga4:hover{
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(255, 50, 161);
}

.list-group-item:hover{
    background-color: rgba(0, 0, 0, 0.7);
    color:aliceblue;    
}
a{
    text-decoration: none;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banner-border{
    border-radius: 20px;
}
#carouselExampleControls { padding:0;border-radius: 20px; }
.carousel-control-pre, .carousel-control-next { background:transparent; }
